{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-1">

    <!--Home Heading-->
    <h1 class="flore-font mt-5 text-center">
        Order Flowers online, delivered straight to your door!
    </h1>

    <hr class="w-50 mb-4" />

    <!--Image Carousel-->
    <div id="carouselIndicator" class="carousel slide" data-ride="carousel">

        <!--Carousel Image links-->
        <ol class="carousel-indicators">
            <li data-target="#carouselIndicator" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIndicator" data-slide-to="1"></li>
            <li data-target="#carouselIndicator" data-slide-to="2"></li>
            <li data-target="#carouselIndicator" data-slide-to="3"></li>
        </ol>

        <!--Carousel Images-->
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="{{ MEDIA_URL }}carousel-img-3.PNG" class="img-fluid d-block mx-auto" alt="Flower Image 1" />
            </div>

            <div class="carousel-item">
                <img src="{{ MEDIA_URL }}carousel-img-2.PNG" class="img-fluid d-block mx-auto" alt="Flower Image 2" />
            </div>

            <div class="carousel-item">
                <img src="{{ MEDIA_URL }}carousel-img-1.PNG" class="img-fluid d-block mx-auto" alt="Flower Image 3" />
            </div>

            <div class="carousel-item">
                <img src="{{ MEDIA_URL }}carousel-img-4.PNG" class="img-fluid d-block mx-auto" alt="Flower Image 4" />
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">

            <hr class="w-50 mb-1" />

            <!--Florescence Flowers Information-->
            <p class="mt-3 text-justify">
                Blooms, baskets, arrangements and gorgeous bouquets! At Florescence Flowers, an established British
                online florist, we are helping you turn everyday moments into memorable floral occasions full of joy
                and cheer thanks to fresh flowers. If you need flowers to order online in the UK, be it London or
                Glasgow, you can count on us to deliver both beautiful flower bouquets and a smile.

                We source fresh flowers from growers and farms all over the world to bring you the best quality,
                freshest stems and blooms at the best possible prices. Our beautiful flower bouquets are handcrafted
                by
                our own professional UK florists and delivered by a courier. Express your emotions and sentiments on
                occasions like birthday, anniversary or birth of new baby with a handcrafted bouquet, sent with
                love.
                Let roses, lilies, anemones, freesia or carnations whisper the sweet sentiments that words cannot
                describe. Sending flowers in UK is now both affordable and convenient, thanks to florists online
                like
                Florescence Flowers.
            </p>

        </div>
    </div>

    <!--Featured Flowers Heading-->
    <div class="row">
        <div class="col text-center mt-3">
            <h1 class="flore-font">Featured Flowers</h1>
            <hr class="w-50 mb-4" />
        </div>
    </div>

            <div class="row">

                <!--Featured Flowers-->
                {% for product in products %}
                    {% if product.featured %}

                    <div class="col-sm-6 col-md-6 col-lg-3 mb-5">

                        <div class="card h-100">

                            <!--Featured Flower Image-->
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}" />
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}" />
                                </a>
                            {% endif %}

                            <!--Featured Flower Name, Price and Rating-->
                            <div class="card-footer bg-white pt-0 border-0">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="mb-1 mt-3 text-center font-weight-bold">{{ product.name }}</h5>
                                        <p class="mb-0 text-center font-weight-bold">£{{ product.price }}</p>
                                        <p class="mb-0 text-center">
                                            <i class="fas fa-star purple-text mr-1"></i>
                                            {% if product.avgRating == 0 %}No ratings{% else %}{{ product.avgRating|floatformat:1 }} / 5.0{% endif %}
                                            <i class="fas fa-star purple-text ml-1"></i>
                                        </p>

                                        {% if request.user.is_superuser %}
                                            <div class="text-center">
                                                <small>
                                                    <a href="{% url 'edit_product' product.id %}" class="mr-2 black-text link-hover">Update</a>
                                                    <span><i class="fas fa-grip-lines-vertical purple-text"></i></span>
                                                    <button data-toggle="modal" data-target="#a{{product.id}}" class="ml-2 border-0 bg-white link-hover">Remove</button>
                                                </small>
                                            </div>

                                            <!--Remove Product Modal -->
                                            <div class="modal fade" id="a{{ product.id }}" 
                                                tabindex="-1" aria-labelledby="b{{ product.id }}" 
                                                aria-hidden="true">

                                                <div class="modal-dialog">
                                                    <div class="modal-content pt-2">

                                                        <!--Remove Modal Header-->
                                                        <div class="modal-header">
                                                            <div class="row text-center d-block mx-auto">
                                                                <h1 class="modal-title flore-font" id="b{{ product.id }}">Remove "{{ product.name }}" from website?</h1>
                                                            </div>
                                                        </div>

                                                        <!--Remove Modal Content-->
                                                        <div class="modal-body text-center">
                                                            These flowers will be removed from the database. Are you sure you want remove these flowers?
                                                        </div>
                                                        
                                                        <!--Remove / Cancel Modal Buttons-->
                                                        <div class="modal-footer">

                                                            <button type="button" class="btn rounded-corners back-btn" data-dismiss="modal">
                                                                <i class="fas fa-arrow-circle-left purple-text mr-1"></i>Cancel</button>

                                                            <a href="{% url 'delete_product' product.id %}" class="btn rounded-corners add-btn">
                                                                <i class="fas fa-trash-alt gold-text mr-1"></i>Delete</a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

            <!--Button to Products Page-->
            <div class="text-center">
                <a href="{% url 'products' %}" class="btn btn-lg basket-btn rounded-corners hvr-grow mb-5">
                    <span><i class="fas fa-store purple-text mr-1"></i></span>
                    <span>Shop now!</span>
                </a>
            </div>

</div>

{% endblock %}