{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid h-100">
  <div class="row h-100 mt-5">
    <div class="col-4">
      <img src="media/flower-vase.png" class="img-fluid d-block mx-auto" />
    </div>
    <div class="col-4 my-auto">
      <h1 class="text-center marckFont">Spring is here!</h1>
      <h4 class="text-center">
          <a href="" class="pink-btn btn btn-lg border rounded-lg py-3 text-uppercase">Shop Now</a>
      </h4>
      </div> 
    <div class="col-4">
      <img src="media/flower-vase-flip.png" class="img-fluid d-block mx-auto" />
    </div>
  </div>
</div>

{% endblock %}