<script type="text/javascript">

// Update a User Review / Rating using POST & AJAX
(function () {
    "use strict";

    setRatings();

    // Display and Hide Review Forms / Buttons
    $(".fa-user-edit").click(function () {
        hideFormAndButtons();
        setSelects();
        let productId = $(this).data("product-id");
        let actionIcons = $(this).closest("div").addClass("d-none");
        let ratingId = $(this).closest("div").siblings(".rating-wrapper").data("rating-id");
        let ratingWrapper = $(this).closest("div").siblings(".rating-wrapper");
        let reviewContent = $(this).closest(".review").children(".review-content").addClass("d-none");
        let textArea = $(this).closest(".review").children("textarea").removeClass("d-none");
        let ratingSelect = $(this).closest(".review").children("select").removeClass("d-none");
        let editButton = $(this).closest(".review").children("button").removeClass("d-none");

        // Click function for Adding Review / Rating
        $(".edit").click(function () {
            var newText = $(textArea).val();
            var newRating = $(ratingSelect).val();
            newText = $.trim(newText);
            if (newText.length >= 4 && newText != "") {
                let url = "/products/update_review/" + productId + "/" + ratingId;
                let csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
                let postData = {
                    "content": newText,
                    "rating": newRating,
                    "csrfmiddlewaretoken": csrfToken,
                };

                // Post Review / Rating
                $.post(url, postData).done(function (success) {
                    $(ratingWrapper).data("rating", success.updated_rating);
                    $(reviewContent).text(newText).removeClass("d-none");
                    $(textArea).addClass("d-none");
                    $(editButton).addClass("d-none");
                    $(ratingSelect).addClass("d-none");
                    $(actionIcons).removeClass("d-none");
                    resetRatings();
                    setRatings();
                }).fail(function () {
                    location.reload();
                });

            } else {
                alert("Your review must contain more words! Please try again.");
            }
        });

    });

    // Prevent Multiple Reviews to be Edited at the Same Time
    function hideFormAndButtons() {
        $(".rating").addClass("d-none");
        $(".action-icons").removeClass("d-none");
        $(".edit-review-content").addClass("d-none");
        $(".review-content").removeClass("d-none");
        $(".edit").addClass("d-none").unbind();
    }

    // Reset Ratings Before Setting a New Rating
    function resetRatings() {
        let stars = $(".rating-icon");
        for (let i = 0; i < stars.length; i++) {
            if (!$(stars[i]).hasClass("text-white")) {
                $(stars[i]).addClass("text-white");
            }
        }
    }

    // Display the Current Ratings
    function setRatings() {
        let currentWrapper = $(".rating-wrapper");
        for (let i = 0; i < currentWrapper.length; i++) {
            let ratingNumber = $(currentWrapper[i]).data("rating");
            let stars = $(currentWrapper[i]).children();
            for (let j = 0; j < ratingNumber; j++) {
                $(stars[j]).removeClass("text-white");
            }
        }
    }

    // Pre-select Current Rating Option
    function setSelects() {
        let currentWrapper = $(".rating-wrapper");
        let currentSelect = $(".rating");
        for (let i = 0; i < currentSelect.length; i++) {
            let options = $(currentSelect[i]).children();
            let ratingNumber = $(currentWrapper[i]).data("rating");
            for (let j = 0; j < options.length; j++) {
                if ($(options[j]).val() == ratingNumber) {
                    $(options[j]).prop("selected", true);
                }
            }

        }
    }

    // Delete Review and Remove from DOM
    $(".delete-review-btn").click(function () {
        let reviewWrapper = $(this).closest(".modal").prev(".review");
        let reviewId = $(this).data("review-id");
        let url = '/products/delete_review/' + reviewId;
        console.log(url);
        $.ajax({
            url: url, success: function (result) {
                $(reviewWrapper).remove();
            }, error: function () {
                location.reload();
            }
        });
    });
})();

</script>