{% extends "base.html" %}
{% load static %}

{% block content %}

<!--Shopping Basket Header-->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h1 class="flore-font">Shopping Basket</h1>
            <hr class="w-50 mb-2">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">

                {% if basket_items %}

                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        
                        <thead class="black-text">
                            <tr>
                                <th scope="col">Order Information:</th>
                                <th scope="col"></th>
                                <th scope="col" class="text-center">Price:</th>
                                <th scope="col" class="text-center">Quantity:</th>
                                <th scope="col" class="text-center">Subtotal:</th>
                            </tr>
                        </thead>

                        {% for item in basket_items %}

                        <tr>

                            <td class="py-3 pr-3 w-25">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                            </td>

                            <td class="py-3">
                                <p class="my-0 lead font-weight-bold">{{ item.product.name }}</p>
                                <p class="my-0">Variety: {{ item.product.category }}</p>
                                <p class="my-0">Colour: {{ item.product.colour }}</p>

                            </td>

                            <td class="py-3">
                                <p class="my-0 text-center">£{{ item.product.price }}</p>
                            </td>

                            <td class="py-3 w-25 text-center">
                                <form class="form update-form text-center" method="POST"
                                    action="{% url 'update_basket' item.item_id %}">

                                    {% csrf_token %}

                                    <div class="form-group">
                                        <div class="input-group">

                                            <div class="input-group-prepend">
                                                <button class="dec-quantity btn btn-sm back-btn"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="dec-quantity_{{ item.item_id }}">
                                                    <i class="fas fa-minus purple-text hvr-pulse-grow fa-sm"></i>
                                                </button>
                                            </div>

                                            <input class="form-control form-control-sm qty_input rounded-corners"
                                                type="number" name="quantity" value="{{ item.quantity }}" min="1"
                                                max="99" data-item_id="{{ item.item_id }}"
                                                id="id_qty_{{ item.item_id }}" />

                                            <div class="input-group-append">
                                                <button class="inc-quantity btn btn-sm add-btn"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="inc-quantity_{{ item.item_id }}">
                                                    <i class="fas fa-plus text-white hvr-pulse-grow fa-sm"></i>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                                
                                <!--Update and Remove Flower Basket Links-->
                                <a class="update-flowers mr-1"><small>Update</small></a>

                                <span><i class="fas fa-grip-lines-vertical purple-text"></i></span>

                                <a class="remove-flowers ml-1" id="remove_{{ item.item_id }}"><small>Remove</small></a>

                            </td>

                            <td class="py-3">
                                <p class="my-0 text-center">£{{ item.product.price }}</p>
                            </td>

                        </tr>

                        {% endfor %}

                        <tr>
                            <td colspan="5" class="pt-5 text-right">

                                <h6><strong>Basket Total: £{{ total|floatformat:2 }}</strong></h6>

                                <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>

                                <h4 class="mt-4">
                                    <strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong>
                                </h4>

                                {% if free_delivery_delta > 0 %}

                                <p class="mb-1 text-danger">
                                    You almost qualify for free delivery! Just spend
                                    <strong>£{{ almost_free_delivery }}</strong> more!
                                </p>

                                {% endif %}

                            </td>
                        </tr>

                        <tr>

                            <td colspan="5" class="text-right">

                                <a href="{% url 'products' %}" class="btn rounded-corners mt-3 back-btn">
                                    <span><i class="far fa-arrow-alt-circle-left purple-text"></i></span>
                                    <span>Keep Browsing</span>
                                </a>

                                <a href="" class="btn rounded-corners mt-3 add-btn">
                                    <span><i class="fas fa-lock gold-text"></i></span>
                                    <span class="text-white checkout-btn">Secure Checkout</span>
                                </a>

                            </td>
                        </tr>
                    </table>
                </div>

                {% else %}

                <!--Empty Basket Notice & Button-->
                <div class="text-center">

                    <h3 class="mt-5 mb-3">Your shopping basket is currently empty.</h3>

                    <a href="{% url 'products' %}" class="btn btn-lg basket-btn hvr-grow">
                        <span><i class="far fa-arrow-alt-circle-left purple-text mr-1"></i></span>
                        <span>Keep browsing flowers</span>
                    </a>

                </div>

                <div class="basket-gap"></div>

                {% endif %}

            </div>
        </div>
    </div>
</div>

{% include 'products/includes/quantity_script.html' %}

<!--JavaScript for updating and removing flowers from basket-->
<script type="text/javascript">

    // Update quantity of flowers in basket
    $('.update-flowers').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove flowers from basket
    $('.remove-flowers').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

</script>

{% endblock %}