{% extends "base.html" %}
{% load static %}

{% block content %}

<!--Shopping Basket Header-->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h1 class="flore-font">Shopping Basket</h1>
            <hr class="w-50 mb-2">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">

                {% if basket_items %}

                    <div class="table-responsive rounded">
                        {{ basket_items }}
                    </div>

                {% else %}

                    <!--Empty Basket Notice & Button-->
                    <div class="text-center">
                        <h3 class="mt-5 mb-3">Your shopping basket is currently empty.</h3>
                        <a href="{% url 'products' %}" class="btn btn-lg basket-btn hvr-grow">
                            <span><i class="far fa-arrow-alt-circle-left purple-text mr-1"></i></span>
                            <span>Keep browsing flowers</span>
                        </a>
                    </div>

                    <div class="basket-gap"></div>
                    
                {% endif %}
            </div>
        </div>

{% endblock %}