/*-------------------------------------------------*/
/*** UNIVERSAL STYLES THAT EFFECT WHOLE WEBSITE ***/
/*-------------------------------------------------*/

body, html {
    background-color: #FAFAF0;
    font-family: 'Cinzel', serif;
    color: #000;
    height: 100%;
    /* Code to keep footer fixed at bottom */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    /* Code to keep footer fixed at bottom */
    flex: 1 0 auto;
}

.flore-font {
    font-family: 'Marck Script', cursive;
    color: #878DAD;
}

.icon {
    color: #878DAD!important;
}

.bag {
    color: #C5C508!important;
}

.text-black {
    color: #000!important;
}


/*-----------------------------*/
/*** NAVIGATION BAR STYLES ***/
/*----------------------------*/

.nav-bg {
    background-color: #FAFAF0;
}

.logo {
  width: 35rem;
}

.nav-item a i {
  color: #C5C508;
}

.nav-link {
  color: #000;
}

.navbar-toggler, .navbar-toggler-icon {
    background-color: #878DAD;
    color: #FFF;
}

/* Hover.css animations */
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(15, 9, 1, 0.5);
    background-color: rgba(0, 0, 0, 0.0);
    color: #0F0901;
}

.pink-btn {
  background: #878DAD;
  color: #FFF;
}

/* Width of dropdown menu in mobile view */
#drop-width {
    width: 25%;
}


/*---------------------------*/
/*** PRODUCT PAGE STYLES ***/
/*--------------------------*/

.sort-box {
    border-radius: 5rem;
}

/*---------------------*/
/*** FOOTER STYLES ***/
/*--------------------*/

.social-btn a {
    font-size: 3rem;
    color: #000;
    text-decoration: none;
}

.footer-bg {
    background-image: linear-gradient(to bottom, rgba(250,250,242,1), rgba(135, 141, 173, 1));
}

/* To Top Button position */
.to-top {
    z-index: 100;
	position: fixed;
	bottom: 2.5rem;
    right: 2.5rem;
    display: none;
}

/* To Top Button style */
.btn-top {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    background-color: #878DAD;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
    position: fixed;
}