html {
  height: 100%;
}

body {
  background-color: #FAFAF0;
  font-family: 'Cinzel', serif;
  color: #000;
}

.flore-font {
    font-family: 'Marck Script', cursive;
    color: #878DAD;
}

.nav-bg {
    background-color: #FAFAF0;
}

.nav-item a i {
  color: #C5C508;
}

.nav-link {
  color: #000;
}

.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(15, 9, 1, 0.5);
    background-color: rgba(0, 0, 0, 0.0);
    color: #0F0901;
}

.logo {
  width: 35rem;
}

.pink-btn {
  background: #878DAD;
  color: #FFF;
}

.icon {
    color: #878DAD!important;
}

.bag {
    color: #C5C508!important;
}

.flower-banner {
    max-height: 26rem;
    width: 100%;
}

/* @media (min-width: 992px) {
        .flower-banner {
        margin-top: 18rem;
        max-height: 26rem;
        width: 100%;
    }
} */