<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="varieties-drop" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Varieties
            </a>

            <div class="dropdown-menu" aria-labelledby="varieties-drop">
                <a class="dropdown-item" href="{% url 'products' %}">All Flowers</a>
                <hr>
                <a class="dropdown-item" href="#">Roses</a>
                <a class="dropdown-item" href="#">Lilies</a>
                <a class="dropdown-item" href="#">Gerbera</a>
                <a class="dropdown-item" href="#">Carnations</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="occasions-drop" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Occasions
            </a>

            <div class="dropdown-menu" aria-labelledby="occasions-drop">
                <a class="dropdown-item" href="#">Birthday</a>
                <a class="dropdown-item" href="#">Romantic</a>
                <a class="dropdown-item" href="#">Sympathy</a>
                <a class="dropdown-item" href="#">Get Well</a>
                <a class="dropdown-item" href="#">Thank You</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-3 hvr-hang" href="#" id="colours-drop" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Colours
            </a>

            <div class="dropdown-menu" aria-labelledby="colours-drop">
                <a class="dropdown-item" href="#">Pink</a>
                <a class="dropdown-item" href="#">White</a>
                <a class="dropdown-item" href="#">Blue</a>
                <a class="dropdown-item" href="#">Orange</a>
                <a class="dropdown-item" href="#">Red</a>
                <a class="dropdown-item" href="#">Yellow</a>
            </div>
        </li>
    </ul>
</div>