<li class="list-inline-item dropdown">
    <a class="nav-link d-block d-lg-none p-0" href="#" id="search-drop" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div><i class="fas fa-search icon"></i></div>
    </a>

    <div class="dropdown-menu" aria-labelledby="search-drop">
        <form class="form-inline" method="GET" action="{% url 'products' %}">
            <input class="form-control mx-2 mb-2" type="text" name="q" placeholder="Search" aria-label="Search">
            <button class="btn mx-auto border pink-btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</li>

<li class="list-inline-item dropdown">
    <a class="nav-link d-block d-lg-none p-0" href="#" id="account-dropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg icon"></i></div>
        </div>
    </a>
    
    <div class="dropdown-menu" aria-labelledby="account-dropdown">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a class="dropdown-item" href="#">Manage</a>
        {% endif %}
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Log Out</a>
        {% else %}
        <a class="dropdown-item" href="#">Log In</a>
        <a class="dropdown-item" href="#">Register</a>
        {% endif %}
    </div>
</li>

<li class="list-inline-item">
    <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none p-0"
        href="{% url 'view_bag' %}">
        <div class="text-center">

            <p class="my-0 bag">
                <i class="fas fa-shopping-bag fa-lg mr-1"></i>
                {% if grand_total %}
                ${{ grand_total|floatformat:2 }}
                {% else %}
                £0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>