{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% endblock %}

    {% block extrameta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Marck+Script&display=swap" />
    <!--Hover CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}

    {% block extracss %}
    {% endblock %}

    {% block extrajs %}
    {% endblock %}

    <title>Florescence Flowers</title>

</head>

<body>

    <header class="container-fluid nav-bg">

        <div id="topnav" class="row d-none d-lg-flex">
            <div class="col-12 my-auto py-1 py-lg-0 text-center text-lg-right">
                <ul class="list-inline ml-auto mt-2 mb-0">
                    <li class="nav-item list-inline-item dropdown">
                        <a class="nav-link mr-3 hvr-hang" href="#" id="account-dropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p class="my-0">
                                <i class="fas fa-user fa-lg icon mr-1"></i>
                                Account
                            </p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="account-dropdown">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a class="dropdown-item" href="#">Manage</a>
                            {% endif %}
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Log Out</a>
                            {% else %}
                            <a class="dropdown-item" href="#">Log In</a>
                            <a class="dropdown-item" href="#">Register</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link hvr-hang mr-3"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <p class="my-0">
                                    <i class="fas fa-shopping-bag fa-lg mr-1"></i>
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12">
                <img src="{{ MEDIA_URL }}florescence-logo.png" class="img-fluid d-block mx-auto logo" />
            </div>

            <div class="col-12">
                <ul class="list-inline mt-2 text-center">
                    <li class="nav-item list-inline-item">
                        <a class="nav-link mr-3 hvr-hang" href="{% url 'home' %}">Home</a>
                    </li>

                    <li class="nav-item list-inline-item dropdown">
                        <a class="nav-link mr-3 hvr-hang" href="#" id="varieties-drop" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Varieties
                        </a>
                        <div class="dropdown-menu" aria-labelledby="varieties-drop">
                            <a class="dropdown-item" href="{% url 'products' %}">All Flowers</a>
                            <hr>
                            <a class="dropdown-item" href="{% url 'products' %}?category=Carnations">Carnations</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=Gerbera">Gerbera</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=Lilies">Lilies</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=Roses">Roses</a>
                        </div>
                    </li>

                    <li class="nav-item list-inline-item dropdown">
                        <a class="nav-link mr-3 hvr-hang" href="#" id="occasions-drop" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Occasions
                        </a>

                        <div class="dropdown-menu" aria-labelledby="occasions-drop">
                            <a class="dropdown-item" href="{% url 'products' %}?occasion=Birthday">Birthday</a>
                            <a class="dropdown-item" href="{% url 'products' %}?occasion=Celebration">Celebration</a>
                            <a class="dropdown-item" href="{% url 'products' %}?occasion=Romantic">Romantic</a>
                            <a class="dropdown-item" href="{% url 'products' %}?occasion=Sympathy">Sympathy</a>
                            <a class="dropdown-item" href="{% url 'products' %}?occasion=Thankyou">Thank You</a>
                        </div>
                    </li>

                    <li class="nav-item list-inline-item dropdown">
                        <a class="nav-link mr-3 hvr-hang" href="#" id="colours-drop" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Colours
                        </a>

                        <div class="dropdown-menu" aria-labelledby="colours-drop">
                            <a class="dropdown-item" href="{% url 'products' %}?colour=Blue">Blue</a>
                            <a class="dropdown-item" href="{% url 'products' %}?colour=Orange">Orange</a>
                            <a class="dropdown-item" href="{% url 'products' %}?colour=Pink">Pink</a>
                            <a class="dropdown-item" href="{% url 'products' %}?colour=Red">Red</a>
                            <a class="dropdown-item" href="{% url 'products' %}?colour=White">White</a>
                            <a class="dropdown-item" href="{% url 'products' %}?colour=Yellow">Yellow</a>
                        </div>
                    </li>

                    <li class="nav-item list-inline-item dropdown">
                        <a class="nav-link mr-3 hvr-hang" href="#" id="sort-drop" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort
                        </a>

                        <div class="dropdown-menu" aria-labelledby="sort-drop">
                            <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a>
                            <a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a>
                            <a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=desc">By Variety</a>
                            <a class="dropdown-item" href="{% url 'products' %}?sort=occasion&direction=asc">By Occasion</a>
                            <a class="dropdown-item" href="{% url 'products' %}?sort=colour&direction=asc">By Colour</a>
                        </div>
                    </li>

                    <li class="nav-item list-inline-item dropdown">
                        <a class="nav-link hvr-hang" href="#" id="search-drop" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Search
                        </a>
                        <div class="dropdown-menu" aria-labelledby="search-drop">
                            <form class="form-inline" method="GET" action="{% url 'products' %}">
                                <input class="form-control mx-2 mb-2" type="text" name="q" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn mx-auto border pink-btn" type="submit"><i
                                        class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Mobile Top Navigation -->
        <div class="row d-lg-none justify-content-center">

            <div class="row no-gutters">
                <a class="d-block d-lg-none pl-4" href="">
                    <img src="{{ MEDIA_URL }}florescence-logo.png" class="img-fluid d-block mx-auto logo" />
                </a>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span><i class="fas fa-bars text-white"></i></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>

        </div>

    </header>

    <main>
        {% if messages %}
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
        {% endblock %}
    </main>

    <footer class="container-fluid p-0 footer-bg">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="flore-font text-center text-black mt-5">Developer Information</h2>
                    <p class="text-center">Lewis Wheeler is a full stack web developer, with expertise in both front &
                        backend design. Lewis lives in the heart of Devon, England, and is keen to hear about any
                        business or personal software development project opportunity.
                        Contact Lewis now using the links provided if you have a project in mind.</p>
                </div>
            </div>
        </div>

        <!--Social Links Header-->
        <div class="col-sm-12">
            <h2 class="flore-font text-center text-black">Social Links</h2>

            <ul class="list-unstyled">
                <li>
                    <div class="col-sm-12">
                        <!--Developer LinkedIn Button-->
                        <div class="text-center social-btn">
                            <a href="https://www.linkedin.com/in/lewis-wheeler-aa91791a0/" target="_blank">
                                <i class="fab fa-linkedin hvr-grow"></i>
                            </a>
                            <!--Developer Github Button-->
                            <a href="https://github.com/WebSlinger88" target="_blank">
                                <i class="fab fa-github hvr-grow"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

        <!--Developer Copyright Information-->
        <div class="footer-copyright bg-transparent">
            <div class="container">
                <p class="footer-text text-center mt-3 mb-2">
                    Copyright - All Rights Reserved - Lewis Wheeler - Full Stack Web Developer ©
                    <!--javaScript date generated via id-->
                    <span id="copyright"></span></p>
            </div>
        </div>

    </footer>

    <!--To Top Button-->
    <a href="#top" class="btn-top to-top" title="Back to top">
        <i class="fas fa-angle-double-up"></i></a>

    <!--JavaScript-->
    <script src="https://kit.fontawesome.com/f42aa17828.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>

</body>

</html>