{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% endblock %}

    {% block extrameta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Marck+Script&display=swap" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    [% endblock %]

    {% block extracss %}
    {% endblock %}

    [% block corejs %]
    <script src="https://kit.fontawesome.com/f42aa17828.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% endblock %}

    {% block extrajs %}
    {% endblock %}

    <title>Florescence Flowers</title>

</head>

<body>

    <header>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 my-auto py-1 py-lg-0 text-center text-lg-right">
                    <ul class="list-inline ml-auto mt-2 mb-0">
                        <li class="nav-item list-inline-item dropdown">
                            <a class="nav-link mr-3 hvr-hang" href="#" id="account-dropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="account-dropdown">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a class="dropdown-item" href="#">Manage</a>
                                {% endif %}
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Log Out</a>
                                {% else %}
                                <a class="dropdown-item" href="#">Log In</a>
                                <a class="dropdown-item" href="#">Register</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link hvr-hang mr-3"
                                href="">
                                <div class="text-center">
                                    <p class="my-0">
                                        <i class="fas fa-shopping-bag fa-lg mr-1"></i>
                                        {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                        £0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <img src="media/florescence-logo.png" class="img-fluid d-block mx-auto logo" />
                </div>
            </div>
        </div>

        <div class="container-fluid p-0 m-0">
            <div class="row mx-auto">
                <div class="col-12">
                    <ul class="list-inline mt-2 text-center">
                        <li class="nav-item list-inline-item">
                            <a class="nav-link mr-3 hvr-hang" href="#">Home</a>
                        </li>

                        <li class="nav-item list-inline-item dropdown">
                            <a class="nav-link mr-3 hvr-hang" href="#" id="varieties-drop" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Varieties
                            </a>
                            <div class="dropdown-menu" aria-labelledby="varieties-drop">
                                <a class="dropdown-item" href="#">Roses</a>
                                <a class="dropdown-item" href="#">Lilies</a>
                                <a class="dropdown-item" href="#">Gerbera</a>
                                <a class="dropdown-item" href="#">Carnations</a>
                            </div>
                        </li>

                        <li class="nav-item list-inline-item dropdown">
                            <a class="nav-link mr-3 hvr-hang" href="#" id="occasions-drop" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Occasions
                            </a>
                            <div class="dropdown-menu" aria-labelledby="occasions-drop">
                                <a class="dropdown-item" href="#">Birthday</a>
                                <a class="dropdown-item" href="#">Romantic</a>
                                <a class="dropdown-item" href="#">Sympathy</a>
                                <a class="dropdown-item" href="#">Get Well</a>
                                <a class="dropdown-item" href="#">Thank You</a>
                            </div>
                        </li>

                        <li class="nav-item list-inline-item dropdown">
                            <a class="nav-link mr-3 hvr-hang" href="#" id="colours-drop" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Colours
                            </a>
                            <div class="dropdown-menu" aria-labelledby="colours-drop">
                                <a class="dropdown-item" href="#">Pink</a>
                                <a class="dropdown-item" href="#">White</a>
                                <a class="dropdown-item" href="#">Blue</a>
                                <a class="dropdown-item" href="#">Orange</a>
                                <a class="dropdown-item" href="#">Red</a>
                                <a class="dropdown-item" href="#">Yellow</a>
                            </div>
                        </li>

                        <li class="nav-item list-inline-item dropdown">
                            <a class="nav-link hvr-hang" href="#" id="search-drop" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Search
                            </a>
                            <div class="dropdown-menu" aria-labelledby="search-drop">
                                <form class="form-inline" method="GET" action="">
                                    <input class="form-control mx-2 mb-2" type="text" name="q" placeholder="Search"
                                        aria-label="Search">
                                    <button class="btn mx-auto border pink-btn" type="submit"><i
                                            class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

        {% if messages %}
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
        {% endblock %}

</body>

</html>