.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 2.5rem;
  padding: 0.625rem 0.75rem;
  border: 1px solid transparent;
  border-radius: 5rem;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 #878DAD;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #878DAD;
}

.StripeElement--webkit-autofill {
  background-color: #98FB98 !important;
}

.stripe-style-input::placeholder {
    color: #878DAD;
}

select,
select option {
    color: #000;
}

select:invalid,
select option[value=""] {
    color: #878DAD!important;
}

.fieldset-label {
    right: 0.5rem;
    position: relative;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 0.111rem solid #878DAD;
}

li {
    list-style-type: none;
}

.break {
    word-wrap: break-word;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(135, 141, 173, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.fa-spin {
    width: 20rem;
}