.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 2.5rem;
  padding: 0.625rem 0.75rem;
  border: 1px solid transparent;
  border-radius: 5rem;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 #878DAD;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #878DAD;
}

.StripeElement--webkit-autofill {
  background-color: #98FB98 !important;
}

.stripe-style-input::placeholder {
    color: #878DAD;
}

.fieldset-label {
    right: 0.5rem;
    position: relative;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 0.111rem solid #878DAD;
}

li {
    list-style-type: none;
}

.break {
    word-wrap: break-word;
}