{% extends "base.html" %}
{% load static %}

{% block content %}

<hr class="w-50 mb-5 mt-1" />
<h1 class="flore-font text-center d-block d-xl-none mb-3">{{ product.name }}</h1>

<div class="container-fluid">
    <div class="row">

        <!--Product Image-->
        <div class="col-12 col-xl-4 offset-xl-2">
            {% if product.image %}
                <img class="card-img-top img-fluid product-img" src="{{ product.image.url }}" alt="{{ product.name }}" />
            {% else %}
                <img class="card-img-top img-fluid product-img" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}" />
            {% endif %}
        </div>

        <div class="col-12 col-xl-4">
            <div class="mb-5 mt-md-5">

                <!--Product Name, Price & Rating-->
                <h1 class="flore-font text-center d-none d-xl-block">{{ product.name }}</h1>

                <p class="lead font-weight-bold text-center mt-3 mt-xl-0">
                    £{{ product.price }}
                </p>
                
                <p class="mb-0 text-center">
                    <i class="fas fa-star purple-text mr-1"></i>
                        {% if product.avgRating == 0 %}No ratings{% else %}{{ product.avgRating|floatformat:1 }} / 5.0{% endif %}
                    <i class="fas fa-star purple-text ml-1"></i>
                </p>

                {% if request.user.is_superuser %}

                    <!--Update and Remove Buttons for Admin-->
                    <div class="text-center mt-3">
                        <small>
                            <a href="{% url 'edit_product' product.id %}" class="mr-2 black-text link-hover">Update</a>

                            <span><i class="fas fa-grip-lines-vertical purple-text"></i></span>

                            <button data-toggle="modal" data-target="#a{{product.id}}" class="ml-2 border-0 bg-white link-hover">Remove</button>
                        </small>
                    </div>

                    <!--Remove Product Modal -->
                    <div class="modal fade" id="a{{ product.id }}" 
                        tabindex="-1" aria-labelledby="b{{ product.id }}" 
                        aria-hidden="true">

                        <div class="modal-dialog">
                            <div class="modal-content pt-2">

                                <!--Remove Modal Header-->
                                <div class="modal-header">
                                    <div class="row text-center d-block mx-auto">
                                        <h1 class="modal-title flore-font" id="b{{ product.id }}">Remove "{{ product.name }}" from website?</h1>
                                    </div>
                                </div>

                                <!--Remove Modal Content-->
                                <div class="modal-body text-center">
                                    These flowers will be removed from the database. Are you sure you want remove these flowers?
                                </div>
                                
                                <!--Remove / Cancel Modal Buttons-->
                                <div class="modal-footer">

                                    <button type="button" class="btn rounded-corners back-btn" data-dismiss="modal">
                                        <i class="fas fa-arrow-circle-left purple-text mr-1"></i>Cancel</button>

                                    <a href="{% url 'delete_product' product.id %}" class="btn rounded-corners add-btn">
                                        <i class="fas fa-trash-alt gold-text mr-1"></i>Delete</a>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endif %}

                <!--Product Description-->
                <p class="text-justify mt-3 px-sm-5 px-xl-0">{{ product.description }}</p>

                <div class="w-100">

                    <!--Product Quantity Form-->
                    <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">

                        {% csrf_token %}

                        <div class="form-row">

                            <div class="col-12 text-center">
                                <p class="mt-3">Quantity:</p>

                                <div class="form-group w-50 d-inline-block">
                                    <div class="input-group">

                                        <!--Decrease Product Quantity-->
                                        <div class="input-group-prepend">
                                            <button class="dec-quantity btn back-btn" data-item_id="{{ product.id }}"
                                                id="dec-quantity_{{ product.id }}">
                                                <i class="fas fa-minus purple-text hvr-pulse-grow"></i>
                                            </button>
                                        </div>

                                        <!--Quantity Input Field-->
                                        <input class="form-control qty_input rounded-corners" type="number"
                                            name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}" required />

                                        <!--Increase Product Quantity-->
                                        <div class="input-group-append">
                                            <button class="inc-quantity btn add-btn" data-item_id="{{ product.id }}"
                                                id="inc-quantity_{{ product.id }}">
                                                <i class="fas fa-plus text-white hvr-pulse-grow"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Add to Basket Button-->
                            <div class="col-12 text-center">
                                <input type="submit" class="btn rounded-corners mt-3 add-btn" value="Add to basket" />
                            </div>

                            <div class="col-12 text-center">

                                <!--View Products Page Button-->
                                <a href="{% url 'products' %}" class="btn rounded-corners mt-3 back-btn">
                                    <span>
                                        <i class="far fa-arrow-alt-circle-left purple-text"></i>
                                    </span>
                                    <span>Go Back</span>
                                </a>

                                <!--View Basket Button-->
                                <a href="{% url 'view_basket' %}" class="btn rounded-corners mt-3 back-btn">
                                    <span><i class="fas fa-shopping-basket fa-lg gold-text mr-1"></i>Basket</span>
                                </a>
                            </div>

                            <input type="hidden" name="redirect_url" value="{{ request.path }}" />

                        </div>
                    </form>
                </div>

                <!--Free Delivery Notice-->
                <div class="text-center mt-3">
                    <span>
                        Free delivery on orders over £{{ free_delivery_threshold }}!
                    </span>
                </div>

                <!--Credit Card Information-->
                <div class="image-container mt-3">
                    <img class="d-block mx-auto img-fluid visa-master" src="{{ MEDIA_URL }}visa-mastercard.png"
                        alt="Visa-Mastercard-Accepted">
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Product Reviews -->
<div class="container">

    <div class="row">
        <div class="col-12 text-center">

            <!--Review Heading-->
            <h2 class="flore-font mt-3">
                Flower Reviews
            </h2>

            <hr class="w-50">

            <!--Review Form-->
            {% if request.user.is_authenticated %}
                <form method="POST" action="{% url 'add_review' product.id %}" class="mt-3">

                    {% csrf_token %}

                    <div class="my-3">

                        <!--Rating Sub-heading-->
                        <small class="text-muted mr-2">Please give our flowers a rating!</small>

                        <!--Rating Select Dropdown-->
                        <select class="stars rating" name="rating" title="rating" required>
                            <option value="" disabled selected>Rate Flowers</option>
                            <option value="1">1 Star</option>
                            <option value="2">2 Stars</option>
                            <option value="3">3 Stars</option>
                            <option value="4">4 Stars</option>
                            <option value="5">5 Stars</option>
                        </select>

                    </div>

                    <!--Form Fields-->
                    {{ form | crispy }}

                    <!--Review Submit Button-->
                    <button type="submit" class="btn rounded-corners add-btn mb-3 mt-2">
                        <span class="mr-1"><i class="fas fa-plus-circle gold-text"></i></span>
                        <span class="text-white checkout-btn">Add Review</span>
                    </button>

                </form>

                {% else %}

                    <!--User Log In Notice-->
                    <p class="mb-5">Please <a href="{% url 'account_login' %}">Log In</a> to add review!</p>

            {% endif %}

        </div>
    </div>

    <!--Review Details & Content-->
    <div class="row">
        <div class="col-12 text-center">

            {% if reviews %}
                {% for review in reviews %}

                <!--User Name & Date Added-->
                <div class="review my-4 border bg-white p-3 rounded-corners">
                    <p class="text-muted mb-0"><i class="fas fa-user-circle fa-lg purple-text mr-1 "></i> {{ review.user }}</p>
                    <p class="text-muted my-0">{{ review.date_added }}</p>

                    <!--Edit & Delete Buttons-->
                    {% if review.user == request.user %}
                        <div class="mt-0 mb-2 action-icons mt-3">
                            <i class="fas fa-trash-alt fa-lg pointer purple-text d-inline-block hvr-grow" data-toggle="modal"
                                data-target="#review{{ review.id }}"></i>
                            <i data-product-id="{{ review.id }}"
                                class="fas fa-user-edit fa-lg pointer d-inline-block ml-3 purple-text hvr-grow"></i>
                        </div>
                    {% endif %}

                    <!--Product Rating-->
                    {% for rating in ratings %}
                        {% if rating.review == review %}
                            <small class="text-muted">Rating:</small>
                            <div class="rating-wrapper" data-rating-id="{{ rating.id }}" data-rating="{{ rating.rating }}">
                                <i class="fas fa-star rating-icon text-white"></i>
                                <i class="fas fa-star rating-icon text-white"></i>
                                <i class="fas fa-star rating-icon text-white"></i>
                                <i class="fas fa-star rating-icon text-white"></i>
                                <i class="fas fa-star rating-icon text-white"></i>
                            </div>
                        {% endif %}
                    {% endfor %}
                    
                    <!--Product Review Text-->
                    <p class="review-content mt-3">{{ review.content }}</p>

                    <!--User Select Rating-->
                    <select class="d-none stars mt-2" name="rating" title="rating" required>
                        <option value="" disabled>Rate Flowers</option>
                        <option value="1">1 Star</option>
                        <option value="2">2 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="5">5 Stars</option>
                    </select>

                    <!--Edit Review Content Text-->
                    <textarea class="d-none edit-review-content" title="Review content" placeholder="Write a Review">{{ review.content }}</textarea>

                    <!--Edit Review Button-->
                    <button data-product-id="{{ review.id }}" class="btn rounded-corners add-btn mb-3 mt-2 d-none edit">
                        <span class="mr-1"><i class="fas fa-edit gold-text"></i></span>
                        <span class="text-white checkout-btn">Edit Review</span>
                    </button>
                </div>

             <!--Delete review modal -->
            <div class="modal fade p-2" id="review{{ review.id }}" 
                tabindex="-1" aria-labelledby="b{{ review.id }}" 
                aria-hidden="true">

                <div class="modal-dialog">
                    <div class="modal-content pt-2">

                        <!--Delete Review Header-->
                        <div class="modal-header">
                            <div class="row d-block mx-auto">
                                <h1 class="modal-title flore-font" id="b{{ review.id }}">Delete review?</h1>
                            </div>
                        </div>

                        <!--Delete Review Content-->
                        <div class="modal-body text-center">
                            This review will be permenantly deleted. Are you sure you want to delete?
                        </div>

                        <!--Cancel & Delete Buttons-->
                        <div class="modal-footer mx-auto">

                            <button type="button" class="btn rounded-corners back-btn" data-dismiss="modal">
                                <i class="fas fa-arrow-circle-left purple-text mr-1"></i>Cancel</button>

                            <button data-review-id="{{ review.id }}" class="btn rounded-corners add-btn delete-review-btn"
                                data-dismiss="modal"><i class="fas fa-trash-alt gold-text mr-1"></i>Delete</button>

                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

            {% else %}

                <!--No Reviews Notice-->
                <h4 class="mt-5 mb-5">This bouquet has not received any reviews yet.</h4>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

<!--Javascript for Functionality-->
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_script.html' %}
{% include 'products/includes/reviews_js.html' %}
{% endblock %}