{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container p-4 p-md-0">

    <div class="row">
        <div class="col text-center mt-3">
            <h1 class="flore-font">Flowers</h1>
            {% for c in current_categories %}
                <h2 class="flore-font">{{ c.friendly_name }}</h2>
            {% endfor %}
            {% for c in current_colours %}
                <h2 class="flore-font">{{ c.friendly_name }}</h2>
            {% endfor %}
            {% for o in current_occasions %}
                <h2 class="flore-font">{{ o.friendly_name }}</h2>
            {% endfor %}
            <hr class="w-50 mb-2">
        </div>
    </div>

    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">

                <div class="col-12 col-md-4 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm sort-box border">
                            <option value="reset" {% if current_sorting == "None_None" %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == "price_asc" %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == "price_desc" %}selected{% endif %}>Price (high to low)</option>
                            <option value="avgRating_asc" {% if current_sorting == "avgRating_asc" %}selected{% endif %}>Rating (low to high)</option>
                            <option value="avgRating_desc" {% if current_sorting == "avgRating_desc" %}selected{% endif %}>Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == "name_asc" %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == "name_desc" %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == "category_asc" %}selected{% endif %}>Variety (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == "category_desc" %}selected{% endif %}>Variety (Z-A)</option>
                            <option value="occasion_asc" {% if current_sorting == "occasion_asc" %}selected{% endif %}>Occasion (A-Z)</option>
                            <option value="occasion_desc" {% if current_sorting == "occasion_desc" %}selected{% endif %}>Occasion (Z-A)</option>
                            <option value="colour_asc" {% if current_sorting == "colour_asc" %}selected{% endif %}>Colour (A-Z)</option>
                            <option value="colour_desc" {% if current_sorting == "colour_desc" %}selected{% endif %}>Colour (Z-A)</option>
                        </select>
                    </div>
                </div>

                <div class="col-12 col-md-4 my-auto d-flex justify-content-center">
                    <div class="free-delivery text-center h-auto mt-4 mt-md-0">
                        <span>Free delivery on orders over £{{ free_delivery_threshold }}!</span>
                    </div>
                </div>

                <div class="col-12 col-md-4 order-md-first">
                    <p class="mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_occasions or current_colours or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'products' %}" class="text-decoration-none hvr-backward gold-text">All Flowers</a> | </span>
                        {% endif %}
                        {{ products|length }} Flowers{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>

            </div>
        </div>

        <div class="row">

            {% for product in products %}

                <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
                    <div class="card h-100 border">

                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}

                        <div class="card-footer bg-white pt-0 border-0">
                            <div class="row">
                                <div class="col">

                                    <h5 class="mb-1 mt-3 text-center font-weight-bold">{{ product.name }}</h5>

                                    <p class="mb-0 text-center font-weight-bold">£{{ product.price }}</p>
                                    
                                    <p class="mb-0 text-center">
                                        <i class="fas fa-star purple-text mr-1"></i>
                                        {% if product.avgRating == 0 %}No ratings{% else %}{{ product.avgRating|floatformat:1 }} / 5.0{% endif %}
                                        <i class="fas fa-star purple-text ml-1"></i>
                                    </p>

                                    {% if request.user.is_superuser %}
                                        <div class="text-center">
                                            <small>
                                                <a href="{% url 'edit_product' product.id %}" class="mr-2 black-text link-hover">Update</a>
                                                <span><i class="fas fa-grip-lines-vertical purple-text"></i></span>
                                                <button data-toggle="modal" data-target="#a{{product.id}}" class="ml-2 border-0 bg-white link-hover">Remove</button>
                                            </small>
                                        </div>

                                        <!--Remove Product Modal -->
                                        <div class="modal fade" id="a{{ product.id }}" 
                                            tabindex="-1" aria-labelledby="b{{ product.id }}" 
                                            aria-hidden="true">

                                            <div class="modal-dialog">
                                                <div class="modal-content pt-2">

                                                    <!--Remove Modal Header-->
                                                    <div class="modal-header">
                                                        <div class="row text-center d-block mx-auto">
                                                            <h1 class="modal-title flore-font" id="b{{ product.id }}">Remove "{{ product.name }}" from website?</h1>
                                                        </div>
                                                    </div>

                                                    <!--Remove Modal Content-->
                                                    <div class="modal-body text-center">
                                                        These flowers will be removed from the database. Are you sure you want remove these flowers?
                                                    </div>
                                                    
                                                    <!--Remove / Cancel Modal Buttons-->
                                                    <div class="modal-footer">

                                                        <button type="button" class="btn rounded-corners back-btn" data-dismiss="modal">
                                                            <i class="fas fa-arrow-circle-left purple-text mr-1"></i>Cancel</button>

                                                        <a href="{% url 'delete_product' product.id %}" class="btn rounded-corners add-btn">
                                                            <i class="fas fa-trash-alt gold-text mr-1"></i>Delete</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}