<!--Toast for warning messages-->
<div class="toast toast-overflow rounded-0 border-top-0" data-autohide="false">

    <div class="arrow-up arrow-warning"></div>

    <div class="w-100 toast-cap bg-warning"></div>

    <!--Toast Heading-->
    <div class="toast-header bg-white">
        <strong class="mr-auto">Ahhhhh!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!--Toast Message-->
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                <p>{{ message }}</p>
                <hr class="mt-1 mb-3">
            </div>
        </div>
    </div>

</div>